*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.contaner{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 119px;
}

.Logo{
    margin-left: 1px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 69px;
    
}

nav ul{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

nav ul li{
    list-style: none;
    word-spacing: 20px;
    margin-right: 15px;
    font-weight: 200;
    font-size: 20px;
}

nav ul li:hover{
    font-size: 30;
    text-decoration: underline;
    font-weight: 900;
}

.button_1{
   margin-left: 800px;
   background-color: rgb(89,85,179);
   height: 40px;
   width: 130px;
   font-size: 18px;
   color: white;
   border-radius: 10px;
   border: none;
   cursor: pointer;
}

.button_1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid black;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
  }
  
  .heading-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #3c2f60;
  }
  
  .heading-text span {
    color: #5955b3;
  }
  
  .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
  }
  
  .btn {
   margin-top: 72px;
   background-color: rgb(89,85,179);
   height: 50px;
   width: 200px;
   font-size: 18px;
   color: white;
   border-radius: 10px;
   border: none;
   cursor: pointer;
  }

  .btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid black;
  }



